{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}

<div style="text-align:center">
    <h1>Assessment Report</h1>
</div>

<div id="report-wrapper">
    <div class="theme-container" style="display:block;float:none;background-color:#e6f9ff">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">Course Average</div>
            <div class="score-box score-0 right">
                0
            </div>
            <div class="score-box score-{{ course_cohort_avg }} right">{{ course_cohort_avg }}</div>

        </div>

        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Great Leadership</div>
            <div class="score-box score-{{ gl_cohort_revised }} right">{{ gl_cohort_revised }}</div>
            <div class="score-box score-{{ gl_cohort_score }} right">{{ gl_cohort_score }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Enabling Culture</div>
            <div class="score-box score-{{ ec_cohort_revised }} right">{{ ec_cohort_revised }}</div>
            <div class="score-box score-{{ ec_cohort_score }} right">{{ ec_cohort_score }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Customer Innovation</div>
            <div class="score-box score-{{ ci_cohort_revised }} right">{{ ci_cohort_revised }}</div>
            <div class="score-box score-{{ ci_cohort_score }} right">{{ ci_cohort_score }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Best People</div>
            <div class="score-box score-{{ bp_cohort_revised }} right">{{ bp_cohort_revised }}</div>
            <div class="score-box score-{{ bp_cohort_score }} right">{{ bp_cohort_score }}</div>

        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Recognising Performance</div>
            <div class="score-box score-{{ rp_cohort_revised }} right">{{ rp_cohort_revised }}</div>
            <div class="score-box score-{{ rp_cohort_score }} right">{{ rp_cohort_score }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Effective Skill Utilisation</div>
            <div class="score-box score-{{ esu_cohort_revised }} right">{{ esu_cohort_revised }}</div>
            <div class="score-box score-{{ esu_cohort_score }} right">{{ esu_cohort_score }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Aligned Organisation</div>
            <div class="score-box score-{{ ao_cohort_revised }}< right">{{ ao_cohort_revised }}</div>
            <div class="score-box score-{{ ao_cohort_score }} right">{{ ao_cohort_score }}</div>
        </div>

    </div>

    {% for cat, subcat in reportscores.items %}
    <div class="theme-container">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">{{ cat }}</div>
            <div class="score-box score-0 right">
                0
            </div>

                {% if cat == "Great Leadership" %}
            <div class="score-box score-{{ cat1avg.value__avg }} right">{{ cat1avg.value__avg }}</div>
                {% elif cat == "Enabling Culture" %}
            <div class="score-box score-{{ cat2avg.value__avg }} right">{{ cat2avg.value__avg }}</div>
                {% elif cat == "Customer Innovation" %}
            <div class="score-box score-{{ cat3avg.value__avg }} right">{{ cat3avg.value__avg }}</div>
                {% elif cat == "Best People" %}
            <div class="score-box score-{{ cat4avg.value__avg }} right">{{ cat4avg.value__avg }}</div>
                {% elif cat == "Recognising Performance" %}
             <div class="score-box score-{{ cat5avg.value__avg }} right">{{ cat5avg.value__avg }}</div>
                {% elif cat == "Effective Skill Utilisation" %}
            <div class="score-box score-{{ cat6avg.value__avg }} right">{{ cat6avg.value__avg }}</div>
                {% elif cat == "Aligned Organisation" %}
            <div class="score-box score-{{ cat7avg.value__avg }} right">{{ cat7avg.value__avg }}</div>
                {% endif %}

        </div>
        {% for key, averages in subcat.items %}
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">{{ key }}</div>
            <div class="score-box score-{{ averages.revised }} right">{{ averages.revised }}</div>
            <div class="score-box score-{{ averages.score }} right">{{ averages.score }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% endblock %}