{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load auth_extras %}

<div style="text-align:center">
    <h1>Assessment Report</h1>
</div>

{% if request.user|has_group:"domain_admins" %}
<div style="width:100%;float:left;">
    <form method="post">
        <div style="width:300px;margin-left:10px;position:relative;float:left">

            {% csrf_token %}
            <select name="participants" class="form-control">
                <option value="0">Select Participant</option>
                {% for participant in participants %}
                    <option value="{{ participant.user.id }}" {% if current_user == participant.user.id %}selected="selected"{% endif %}>{{ participant.user.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="float:left; margin-left:15px" class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd" type="submit">View report</button>
     </form>
</div>
{% endif %}

<div id="report-wrapper">
    <div class="theme-container" style="display:block;float:none;background-color:#e6f9ff">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">Course Average</div>
            <div class="score-box score-{{ course_cohort_revised_avg|floatformat:"0" }} right">{{ course_cohort_revised_avg|floatformat:"1" }}</div>
            <div class="score-box score-{{ course_cohort_avg|floatformat:"0" }} right">{{ course_cohort_avg|floatformat:"1" }}</div>
        </div>

         {% for cohort_average in cohort_averages_by_category %}
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">{{ cohort_average.question__subcategory__category__name }}</div>
            <div class="score-box score-{{ cohort_average.revised_value__avg|floatformat:"0" }} right">{{ cohort_average.revised_value__avg|floatformat:"1" }}</div>
            <div class="score-box score-{{ cohort_average.value__avg|floatformat:"0" }} right">{{ cohort_average.value__avg|floatformat:"1" }}</div>
        </div>
        {% endfor %}

    </div>

    {% for user_category_average in user_averages_by_category %}
    <div class="theme-container">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">{{ user_category_average.question__subcategory__category__name }}</div>
                <div class="score-box score-{{ user_category_average.revised_value__avg|floatformat:"0" }} right">{{ user_category_average.revised_value__avg|floatformat:"1" }}</div>
                <div class="score-box score-{{ user_category_average.value__avg|floatformat:"0" }} right">{{ user_category_average.value__avg|floatformat:"1" }}</div>
        </div>

        {% for user_average in user_averages_by_subcategory %}
        {% if user_average.question__subcategory__category__name == user_category_average.question__subcategory__category__name %}
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">{{ user_average.question__subcategory__name }}</div>
            <div class="score-box score-{{ user_average.revised_value__avg|floatformat:"0" }} right">{{ user_average.revised_value__avg|floatformat:"1" }}</div>
            <div class="score-box score-{{ user_average.value__avg|floatformat:"0" }} right">{{ user_average.value__avg|floatformat:"1" }}</div>
        </div>
        {% endif %}
        {% endfor %}


        <!--{% for key, averages in subcat.items %}
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">{{ key }}</div>
            <div class="score-box score-{{ averages.revised|floatformat:"0" }} right">{{ averages.revised|floatformat:"1" }}</div>
            <div class="score-box score-{{ averages.score|floatformat:"0" }} right">{{ averages.score|floatformat:"1" }}</div>
        </div>
        {% endfor %}
        -->
    </div>
    {% endfor %}
</div>

<div>
    <h1>Question Summary - Stage 1</h1>
    <div style="text-align:left;padding:10px">You've answered <strong>{{ questions_answered_count }}</strong> out of <strong>54</strong> questions</div>
    <table style="margin-bottom:50px">
        <tr>
            <th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">#</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Question</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Score</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Revised Score</th>
        </tr>
        {% for question, values in question_answer_set.items %}
        <tr>
            <td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ question }}</td>
            <td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ values.0 }}</td>
            <td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{% if values.1 == 0 %}<img width="20px" src="{% static 'images/missing-question.jpg' %}">{% else %}{{ values.1 }}{% endif %}</td>
            <td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{% if values.2 == 0 %}<img width="20px" src="{% static 'images/missing-question.jpg' %}">{% else %}{{ values.2 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="radar-chart-container">
    <h1>Personal Performance</h1>
    <canvas id="radarChart" width="400px" height="400px"></canvas>
</div>
<div class="radar-chart-container">
    <h1>Cohort Performance</h1>
    <canvas id="radarChart2" width="400px" height="400px"></canvas>
</div>

<script>
var chartOptions = {
  scale: {
    ticks: {
      beginAtZero: true,
      min: 0,
      max: 9,
      stepSize: 1
    },
    pointLabels: {
      fontSize: 18
    },
  },

};

var radarCanvas = document.getElementById("radarChart").getContext('2d');
var radarChart = new Chart(radarCanvas, {
    type: 'radar',
    data: {
        labels: ["Great Leadership", "Enabling Culture", "Customer Innovation", "Best People", "Recognising Performance", "Effective Skill Utilisation", "Aligned Organisation"],
        datasets: [{
            label: "Original",
            backgroundColor: "transparent",
            borderColor: "rgba(0,0,200,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "cornflowerblue",
            pointBorderColor: "rgba(0,0,200,0.6)",
            pointHoverRadius: 10,
            data: [{% for user_category_average in radar_user_category_averages %}{{ user_category_average }},{% endfor %}]
                    }, {
            label: "Revised",
            backgroundColor: "transparent",
            borderColor: "rgba(200,0,0,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "red",
            pointBorderColor: "rgba(200,0,0,0.6)",
            pointHoverRadius: 10,
            data: [{% for user_category_revised_average in radar_user_category_revised_averages %}{{ user_category_revised_average }},{% endfor %}]
            }]
        },
        options: chartOptions
});


var radarCanvas2 = document.getElementById("radarChart2").getContext('2d');
var radarChart2 = new Chart(radarCanvas2, {
    type: 'radar',
    data: {
        labels: ["Great Leadership", "Enabling Culture", "Customer Innovation", "Best People", "Recognising Performance", "Effective Skill Utilisation", "Aligned Organisation"],
        datasets: [{
            label: "Original",
            backgroundColor: "transparent",
            borderColor: "rgba(0,0,200,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "cornflowerblue",
            pointBorderColor: "rgba(0,0,200,0.6)",
            pointHoverRadius: 10,
            data: [{% for cohort_category_average in radar_cohort_category_averages %}{{ cohort_category_average }},{% endfor %}]
                    }, {
            label: "Revised",
            backgroundColor: "transparent",
            borderColor: "rgba(200,0,0,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "red",
            pointBorderColor: "rgba(200,0,0,0.6)",
            pointHoverRadius: 10,
            data: [{% for cohort_category_revised_average in radar_cohort_category_revised_averages %}{{ cohort_category_revised_average }},{% endfor %}]
            }]
        },
        options: chartOptions
});



</script>


{% endblock %}