{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load auth_extras %}

<div style="text-align:center">
    <h1>Assessment Report</h1>
</div>

{% if request.user|has_group:"domain_admins" %}
    <form method="post">
        <div style="width:300px;margin-left:10px;position:relative;float:left">

            {% csrf_token %}
            <select name="participants" class="form-control">
                <option value="0">Select Participant</option>
                {% for participant in participants %}
                    <option value="{{ participant.user.id }}" {% if current_user == participant.user.id %}selected="selected"{% endif %}>{{ participant.user.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="float:left; margin-left:15px" class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd" type="submit">View report</button>
     </form>
{% endif %}

<div id="report-wrapper">
    <div class="theme-container" style="display:block;float:none;background-color:#e6f9ff">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">Course Average</div>
            <div class="score-box score-{{ course_cohort_revised_avg|floatformat:"0" }} right">{{ course_cohort_revised_avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ course_cohort_avg|floatformat:"0" }} right">{{ course_cohort_avg|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Great Leadership</div>
            <div class="score-box score-{{ gl_cohort_revised_score|floatformat:"0" }} right">{{ gl_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ gl_cohort_score|floatformat:"0" }} right">{{ gl_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Enabling Culture</div>
            <div class="score-box score-{{ ec_cohort_revised_score|floatformat:"0" }} right">{{ ec_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ ec_cohort_score|floatformat:"0" }} right">{{ ec_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Customer Innovation</div>
            <div class="score-box score-{{ ci_cohort_revised_score|floatformat:"0" }} right">{{ ci_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ ci_cohort_score|floatformat:"0" }} right">{{ ci_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Best People</div>
            <div class="score-box score-{{ bp_cohort_revised_score|floatformat:"0" }} right">{{ bp_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ bp_cohort_score|floatformat:"0" }} right">{{ bp_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Recognising Performance</div>
            <div class="score-box score-{{ rp_cohort_revised_score|floatformat:"0" }} right">{{ rp_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ rp_cohort_score|floatformat:"0" }} right">{{ rp_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Effective Skill Utilisation</div>
            <div class="score-box score-{{ esu_cohort_revised_score|floatformat:"0" }} right">{{ esu_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ esu_cohort_score|floatformat:"0" }} right">{{ esu_cohort_score|floatformat:"0" }}</div>
        </div>
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">Aligned Organisation</div>
            <div class="score-box score-{{ ao_cohort_revised_score|floatformat:"0" }} right">{{ ao_cohort_revised_score|floatformat:"0" }}</div>
            <div class="score-box score-{{ ao_cohort_score|floatformat:"0" }} right">{{ ao_cohort_score|floatformat:"0" }}</div>
        </div>

    </div>

    {% for cat, subcat in reportscores.items %}
    <div class="theme-container">
        <div class="score-box-title-container">
            <div class="score-box-title right">Revised</div>
            <div class="score-box-title right">Score</div>
        </div>

        <div class="theme-title-wrapper">
            <div class="theme-title">{{ cat }}</div>

                {% if cat == "Great Leadership" %}
            <div class="score-box score-{{ cat1revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat1revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat1avg.value__avg|floatformat:"0" }} right">{{ cat1avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Enabling Culture" %}
            <div class="score-box score-{{ cat2revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat2revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat2avg.value__avg|floatformat:"0" }} right">{{ cat2avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Customer Innovation" %}
            <div class="score-box score-{{ cat3revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat3revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat3avg.value__avg|floatformat:"0" }} right">{{ cat3avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Best People" %}
            <div class="score-box score-{{ cat4revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat4revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat4avg.value__avg|floatformat:"0" }} right">{{ cat4avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Recognising Performance" %}
            <div class="score-box score-{{ cat5revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat5revisedavg.revised_value__avg|floatformat:"0" }}</div>
             <div class="score-box score-{{ cat5avg.value__avg|floatformat:"0" }} right">{{ cat5avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Effective Skill Utilisation" %}
            <div class="score-box score-{{ cat6revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat6revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat6avg.value__avg|floatformat:"0" }} right">{{ cat6avg.value__avg|floatformat:"0" }}</div>
                {% elif cat == "Aligned Organisation" %}
            <div class="score-box score-{{ cat7revisedavg.revised_value__avg|floatformat:"0" }} right">{{ cat7revisedavg.revised_value__avg|floatformat:"0" }}</div>
            <div class="score-box score-{{ cat7avg.value__avg|floatformat:"0" }} right">{{ cat7avg.value__avg|floatformat:"0" }}</div>
                {% endif %}

        </div>
        {% for key, averages in subcat.items %}
        <div class="sub-theme-title-wrapper">
            <div class="sub-theme-title">{{ key }}</div>
            <div class="score-box score-{{ averages.revised|floatformat:"0" }} right">{{ averages.revised|floatformat:"0" }}</div>
            <div class="score-box score-{{ averages.score|floatformat:"0" }} right">{{ averages.score|floatformat:"0" }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div>
    <h1>Question Summary</h1>
    <table style="margin-bottom:50px">
        <tr>
            <th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">#</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Question</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Score</th><th style="text-align:left;padding:10px;border-bottom:1px solid lightblue">Revised</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ question.question.number }}</td><td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ question.question.name }}</td><td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ question.value }}</td><td style="text-align:left;padding:10px;border-bottom:1px solid lightblue">{{ question.revised_value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="radar-chart-container">
    <h1>Personal Performance</h1>
    <canvas id="radarChart" width="400px" height="400px"></canvas>
</div>
<div class="radar-chart-container">
    <h1>Cohort Performance</h1>
    <canvas id="radarChart2" width="400px" height="400px"></canvas>
</div>

<script>
var chartOptions = {
  scale: {
    ticks: {
      beginAtZero: true,
      min: 0,
      max: 9,
      stepSize: 1
    },
    pointLabels: {
      fontSize: 18
    },
  },

};

var radarCanvas = document.getElementById("radarChart").getContext('2d');
var radarChart = new Chart(radarCanvas, {
    type: 'radar',
    data: {
        labels: ["Great Leadership", "Enabling Culture", "Customer Innovation", "Best People", "Recognising Performance", "Effective Skill Utilisation", "Aligned Organisation"],
        datasets: [{
            label: "Original",
            backgroundColor: "transparent",
            borderColor: "rgba(0,0,200,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "cornflowerblue",
            pointBorderColor: "rgba(0,0,200,0.6)",
            pointHoverRadius: 10,
            data: [{% for original_item in originalData %}{{ original_item }},{% endfor %}]
                    }, {
            label: "Revised",
            backgroundColor: "transparent",
            borderColor: "rgba(200,0,0,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "red",
            pointBorderColor: "rgba(200,0,0,0.6)",
            pointHoverRadius: 10,
            data: [{% for revised_item in revisedData %}{{ revised_item }},{% endfor %}]
            }]
        },
        options: chartOptions
});


var radarCanvas2 = document.getElementById("radarChart2").getContext('2d');
var radarChart2 = new Chart(radarCanvas2, {
    type: 'radar',
    data: {
        labels: ["Great Leadership", "Enabling Culture", "Customer Innovation", "Best People", "Recognising Performance", "Effective Skill Utilisation", "Aligned Organisation"],
        datasets: [{
            label: "Original",
            backgroundColor: "transparent",
            borderColor: "rgba(0,0,200,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "cornflowerblue",
            pointBorderColor: "rgba(0,0,200,0.6)",
            pointHoverRadius: 10,
            data: [{% for original_item in originalCohortData %}{{ original_item }},{% endfor %}]
                    }, {
            label: "Revised",
            backgroundColor: "transparent",
            borderColor: "rgba(200,0,0,0.6)",
            fill: false,
            radius: 6,
            pointRadius: 6,
            pointBorderWidth: 3,
            pointBackgroundColor: "red",
            pointBorderColor: "rgba(200,0,0,0.6)",
            pointHoverRadius: 10,
            data: [{% for revised_item in revisedCohortData %}{{ revised_item }},{% endfor %}]
            }]
        },
        options: chartOptions
});



</script>


{% endblock %}