{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}



	<div class="all-title-box">
		<div class="container text-center">
			<h1>Dashboard</h1>
		</div>
	</div>

    <div class="section lb">
        <div class="container">

            <div class="section-title text-center">
                <h3 style="text-align:left;font-size:2em;">Hello {{ request.user.first_name }},</h3>
                {% if courses %}
                <h3 style="font-size:2em;">You are enrolled on the following courses</h3>
				<div class="dmoain-pricing">
					<div class="table-responsive-sm">
						<table>
							<thead>
								<tr class="domain-head">
									<th scope="col">
										Course Code
									</th>
									<th scope="col">
										Title
									</th>
									<th scope="col">
										Start date
									</th>
									<th scope="col">
										Report
									</th>
								</tr>
							</thead>
							<tbody>
                                {% for usercourse in courses %}
								<tr>
                                    <td data-label="Course Code"><a href="/members/course/{{ usercourse.course.code }}/">{{ usercourse.course.code }}</a></td>
									<td data-label="Title">{{ usercourse.course.title }}</td>
									<td data-label="Start Date">{{ usercourse.course.start_date }}</td>
                                    <td data-label="Report"><a href="/members/assessment-report/{{ usercourse.course.id }}"><img width="50px" src="{% static "images/report.png" %}"></a></td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
                {% else %}
                <h3>You are not currently enrolled on any courses</h3>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}