{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}
<header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img width="150px" src="{% static "images/logos/bethebusiness-logo.png" %}" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Vote</a></li>
                        <li><a href="/members/dashboard">Dashboard</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" class="btn btn-radius btn-brd">{{ request.user.first_name }}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="/logout" class="btn btn-radius btn-brd">Logout</a></li>
                        {% else %}
                            <li><a class="btn-light btn-radius btn-brd log" href="/login" data-toggle="modal" data-target="#login"><i class="flaticon-padlock"></i> Customer Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <section>
            <div class="modal-body customer-box row">

                <div class="col-md-6">
                    <!-- Nav tabs -->

<p>Your password has been set.  You may go ahead and log in now.</p>

<p><a href="{{ login_url }}">Log in</a></p>

                                    </div>
            </div>
        </section>
    </div>

{% endblock %}
