{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}

 <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img width="150px" src="{% static "images/logos/bethebusiness-logo.png" %}" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Vote</a></li>
                        <li><a href="/members/dashboard">Dashboard</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" class="btn btn-radius btn-brd">{{ request.user.first_name }}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="/logout" class="btn btn-radius btn-brd">Logout</a></li>
                        {% else %}
                            <li><a class="btn-light btn-radius btn-brd log" href="/login" data-toggle="modal" data-target="#login"><i class="flaticon-padlock"></i> Customer Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <section>
            <div class="modal-body customer-box row">

                <div class="col-md-6">
                    <!-- Nav tabs -->

                       <form method="post">
                           {% csrf_token %}
                            <div>
                            {% if form.errors %}
                                <p class="errornote">
                                {% if form.errors.items|length == 1 %}
                                    <span class="error">Please correct the error below. </span>
                                {% else %}
                                    <span>Please correct the errors below.</span>
                                {% endif %}
                                </p>
                            {% endif %}

                                <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

                                <fieldset class="module aligned wide">

                                    <div class="form-row">
                                        {{ form.old_password.errors }}
                                        {{ form.old_password.label_tag }} {{ form.old_password }}
                                    </div>

                                    <div class="form-row">
                                        {{ form.new_password1.errors }}
                                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                        {% if form.new_password1.help_text %}
                                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form-row">
                                    {{ form.new_password2.errors }}
                                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                        {% if form.new_password2.help_text %}
                                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                        {% endif %}
                                    </div>

                                </fieldset>

                                <div class="submit-row">
                                    <input type="submit" value="Change my password" class="default">
                                </div>

                            </div>
                        </form>
                </div>
            </div>
        </section>
    </div>


{% endblock %}