{% extends "layout.html" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load auth_extras %}
    <div style="text-align:center;color:{% if course_status == 0 %}#2196F3{% elif course_status == 1 %}#ff7373{% endif %};font-size:1.2em;background-color:#f2f3f5;width:100%;height:22px">STAGE {% if course_status == 0 %}1{% elif course_status == 1 %}2{% elif course_status == 2 %} - CLOSED{% endif %}</div>
    {% if course_id != 0 %}

    <div class="contact_form">
        <h1 style="margin-bottom:10px">{{ question.subcategory.category.name }}</h1>
        <div><span style="font-size:1.9em;font-weight:bold">{{ question.subcategory.name }}</span></div>
        <div class="text-left">
            <p class="lead">
                <input id="question_id" value="{{ question_id }}" type="hidden">
                <input id="course_id" value="{{ course_id }}" type="hidden">
                <input id="course_status" value="{{ course_status }}" type="hidden">
                <input id="original_vote_value" value="{{ original_vote_value }}" type="hidden">
                <input id="vote_count" value="{{ vote_count }}" type="hidden">
                <input id="reveal_chart" type="hidden">
                <div id="question">Q{{ question.number }}. {{ question.name }}</div>
            </p>
        </div>

        <form id="contactform" class="row" action="contact.php" name="contactform" method="post">

            {% csrf_token %}
            <fieldset class="row-fluid">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <!-- Voting panel -->
                    {% if not request.user|has_group:"presenters" %}
                    <div class="panel-full-width">
                        <div style="background-color:#efdcc3;text-align:center;font-weight:bold">My Vote</div>
                        <div id="container" >
                            <form action="" method="post">
                            {% csrf_token %}

                                <div id="sub-container-landscape">
                                    <div class="section-bar">
                                        <div class="vote-box">
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 1 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="1">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 2 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="2">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 3 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="3">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>
                                        <div class="number-box">
                                            <label class="vote-container">&nbsp;&nbsp;1</label>
                                            <label class="vote-container">&nbsp;&nbsp;2</label>
                                            <label class="vote-container">&nbsp;&nbsp;3</label>
                                        </div>
                                        <div class="hint-box hint_left">
                                            <ul>
                                            {% for left_hint in left_hints %}
                                            <li><span class="hint">{{ left_hint.text }}</span></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="section-bar">
                                        <div class="vote-box">
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 4 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="4">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 5 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="5">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 6 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="6">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>
                                        <div class="number-box">
                                            <label class="vote-container">&nbsp;&nbsp;4</label>
                                            <label class="vote-container">&nbsp;&nbsp;5</label>
                                            <label class="vote-container">&nbsp;&nbsp;6</label>
                                        </div>
                                        <div class="hint-box hint_left">
                                            <ul>
                                            {% for middle_hint in middle_hints %}
                                            <li><span class="hint">{{ middle_hint.text }}</span></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="section-bar">
                                        <div class="vote-box">
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 7 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="7">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 8 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="8">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">
                                                <input type="radio" {% if vote_value == 9 %} checked="checked" {% endif %} name="radio" class="vote-radio" data-type="9">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>
                                        <div class="number-box">
                                            <label class="vote-container">&nbsp;&nbsp;7</label>
                                            <label class="vote-container">&nbsp;&nbsp;8</label>
                                            <label class="vote-container">&nbsp;&nbsp;9</label>
                                        </div>
                                        <div class="hint-box hint_left">
                                            <ul>
                                            {% for right_hint in right_hints %}
                                            <li><span class="hint">{{ right_hint.text }}</span></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div id="sub-container-portrait">
                                    <div class="section-bar">
                                        <div class="hint-box hint_left">
                                            <ul>
                                                {% for left_hint in left_hints %}
                                                    <li><span class="hint">{{ left_hint.text }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="vote-box">
                                            <label class="vote-container">1
                                                <input type="radio" {% if vote_value == 1 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="1">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">2
                                                <input type="radio" {% if vote_value == 2 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="2">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">3
                                                <input type="radio" {% if vote_value == 3 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="3">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="section-bar">
                                        <div class="hint-box hint_left">
                                            <ul>
                                                {% for middle_hint in middle_hints %}
                                                    <li><span class="hint">{{ middle_hint.text }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="vote-box">
                                            <label class="vote-container">4
                                                <input type="radio" {% if vote_value == 4 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="4">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">5
                                                <input type="radio" {% if vote_value == 5 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="5">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">6
                                                <input type="radio" {% if vote_value == 6 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="6">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="section-bar">
                                        <div class="hint-box hint_left">
                                            <ul>
                                                {% for right_hint in right_hints %}
                                                    <li><span class="hint">{{ right_hint.text }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="vote-box">
                                            <label class="vote-container">7
                                                <input type="radio" {% if vote_value == 7 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="7">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">8
                                                <input type="radio" {% if vote_value == 8 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="8">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                            <label class="vote-container">9
                                                <input type="radio" {% if vote_value == 9 %} checked="checked" {% endif %} name="radio2" class="vote-radio" data-type="9">
                                                <span class="checkmark{% if course_status > 0 %}-revised{% endif %}"></span>
                                            </label>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>
                        <br>
                        <div style="margin-top:30px;float:left;width:200px;">
                            {% if course_status > 0 %}
                            <div style="text-align:center;width:100%;position:relative;float:left">
                                <div>
                                    <div id="previous_vote_label" style="float:right;text-align:center;background-color:#ff7373;color:white;width:20%">{{ original_vote_value }}</div>
                                    <input type="button" value="Reveal previous vote" onClick="revealPreviousVote()">

                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div style="float:right;padding:10px; width:175px">You've answered <strong>{{ vote_count }}</strong> out of <strong>54</strong> questions</div>
                    </div>
                    {% endif %}

                    <a name="graph"></a>

                    <!-- Comments panel -->
                    {% if not request.user|has_group:"presenters" %}
                    <div id="comments" class="panel-full-width">
                        <div style="background-color:#efdcc3;text-align:center;font-weight:bold">Comments</div>
                        <textarea class="form-control" style="color:#000000;border:0px" name="UserComment" id="UserComment" placeholder="Write your comments here...">{{ vote_comment }}</textarea>
                    </div>
                    {% endif %}

                    <!-- Users not voted panel -->
                    {% if request.user|has_group:"presenters" %}
                    <div class="panel-half-width-left">
                        <div style="background-color:#efdcc3;text-align:center;font-weight:bold">Not voted</div>
                        <div id="not_voted_users"></div>
                    </div>

                    <!-- Users voted panel -->
                    <div class="panel-half-width-right">
                        <div style="background-color:#efdcc3;text-align:center;font-weight:bold">Voted</div>
                        <div id="voted_users"></div>
                    </div>

                    <!-- Show/hide chart button -->
                    <div style="float:left;width:100%;margin-top:30px;">
                        <form action="" method="post">
                            <input type="button" value="Show/Hide Chart" onClick="revealchart()">
                        </form>
                    </div>
                    {% endif %}

                    <!-- Chart panel -->
                    <div id="cohort_votes" style="{% if request.user|has_group:'presenters' %}display:none{% else %}display:block{% endif %};" class="panel-full-width">
                        <div style="background-color:#efdcc3;text-align:center;font-weight:bold">Cohort Votes</div>
                        <canvas id="myChart"></canvas>
                        <div style="padding:10px;text-align:right;">
                        <input style="border:0; text-align:right;" id="vote_label" type="text" value="showing {{ vote_count }} votes">
                        </div>
                        <!--<div id="chart" class="graph"></div>-->
                    </div>

                    <!-- Back and Next buttons -->
                    <div style="float:left;width:100%;margin-top:30px;">
                        <div style="text-align:center;">
                            <input id="back_id" value="{{ back_id.id }}" type="hidden">
                            {% if back_id.id != null  %}
                                <a href="/members/vote/{{ back_id.id }}/" class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd" id="backid" onclick="savecomment({{ back_id.id }})">Back</a>
                            {% endif %}
                            <input id="next_id" value="{{ next_id.id }}" type="hidden">
                            {% if next_id.id != null  %}
                                <a href="/members/vote/{{ next_id.id }}/" class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd" style="margin-left:10px;"  onclick="savecomment({{ next_id.id }})">Next</a>
                            {% endif %}
                            {% if question.number == 54 %}
                                <a href="/members/assessment-report/{{ course_id }}" class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd" style="margin-left:10px;"  onclick="savecomment({{ next_id.id }})">Finish</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </fieldset>
        </form>

        <!-- end col -->
        {% else %}
        <h1>You are not currently enrolled onto a course</h1>
        {% endif %}

    <!-- end row -->
    </div>

<script>
    var questionID = {{ question_id_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/members/vote/' + questionID + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var vote = data['vote'];
        var original_vote = data['original_vote'];
        var allvotes = data['allvotes'];
        var vote_count = data['vote_count'];
        var voted_users = data['voted_users'];
        var not_voted_users = data['not_voted_users'];
        voted_users_list = voted_users.toString();
        not_voted_users_list = not_voted_users.toString();
        if (document.getElementById("voted_users")) {
            document.getElementById("voted_users").innerHTML = voted_users_list.replace(/,/g, '');
            }
        if (document.getElementById("not_voted_users")) {
            document.getElementById("not_voted_users").innerHTML = not_voted_users_list.replace(/,/g, '');
            }
        drawChart(allvotes);
        updateVoteLabel(vote_count);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function updateVoteLabel(vote_count) {
        var vote_label = document.querySelector('#vote_label');
        vote_label.value = "showing " + vote_count + " votes";
     }

    window.onload = function() {
        var vote = 0
        if (document.getElementById("previous_vote_label")) {
            document.getElementById("previous_vote_label").style.display = 'none';
            }
        var course = document.querySelector('#course_id').value;
        var question = document.querySelector('#question_id').value;
        var course_status = document.querySelector('#course_status').value;
        var comment = ""
        if(document.body.contains(document.getElementById('#UserComment'))){
            comment = document.querySelector('#UserComment').value;
            }
        chatSocket.send(JSON.stringify({
            'vote': vote,
            'course': course,
            'question': question,
            'comment': comment
        }));

    };

    $('document').ready(function () {
        $('.vote-radio').click(function () {
            var valueget = $(this).attr('data-type');
            var vote = valueget;
            var course = document.querySelector('#course_id').value;
            var question = document.querySelector('#question_id').value;
            var course_status = document.querySelector('#course_status').value;
            var comment = document.querySelector('#UserComment').value;
            chatSocket.send(JSON.stringify({
                'vote': vote,
                'course': course,
                'question': question,
                'comment': comment
            }));
        });
    });

    function drawChart(allvotes) {
        var barOptions = {
            scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero:true,
                         stepSize: 1,
                     },

                 }]
             },
            scaleShowGridLines: true,
            tooltips: {enabled: false},
            scaleGridLineColor: "rgba(0,0,0,.05)",
            legend: {
                display: true,
                position: 'bottom'
                },
            scaleGridLineWidth: 1,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            responsive: true,
        };
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
                datasets: [{
                    label: 'Cohort Votes',
                    backgroundColor: ['#ff0000', '#f92d06', '#f35a0b', '#ed8711', '#e7b416', '#adc711', '#74da0b', '#3aec06', '#00ff00'],
                    borderColor: 'rgb(255, 99, 132)',
                    data: allvotes,
                }]
            },
            options: barOptions
        });
    }

    function savecomment(id) {
    var course = document.querySelector('#course_id').value;
    var question = document.querySelector('#question_id').value;
    var comment = document.querySelector('#UserComment').value;
    var url = '/save_comment_data/';
       $.ajax({
           url: url,
           type: "POST",
           data: {question_id:question,question_comment:comment,course_id:course,csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
           success: function (result) {
           }
       });
   }

   function revealchart() {
    var reveal_chart = document.getElementById('cohort_votes').style.display;
    chart_object = document.getElementById('cohort_votes');
    if (reveal_chart == 'none') {
        chart_object.style.display = 'block';
        } else {
        chart_object.style.display = 'none';
        }
    }

    function revealPreviousVote() {
        var previous_vote_label = document.getElementById('previous_vote_label').style.display;
        objPreviousVoteLabel = document.getElementById('previous_vote_label');
        if (previous_vote_label == 'none') {
            objPreviousVoteLabel.style.display = 'block';
            } else {
            objPreviousVoteLabel.style.display = 'none';
        }
    };

</script>
{% endblock %}