{% extends "btbadmin/admin-layout.html" %}

{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ course.title}}</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped table-status">
            <form method="post" style="margin:0">
                {% csrf_token %}
                <tbody>

                    <tr>
                        <td>ID</td>
                        <td>{{ course.id }}</td>
                    </tr>
                    <tr>
                        <td>Course title</td>
                        <td><input type="text" style="width:100%" name="centre_name" value="{{ course.title }}"></td>
                    </tr>
                    <tr>
                        <td>Start date</td>
                        <td>{{ course.start_date }}</td>
                    </tr>
                     <tr>
                        <td>Created on</td>
                        <td>{{ course.created_date }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <button class="button" type="submit">Save</button>
                            <input type="hidden" name="update_centre" value="{{ centre.id }}">
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1>Course users</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped table-status">
            <form method="post" style="margin:0">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Is Active</th>
                        <th></th>
                    </tr>
                    {% for course_user in course_users %}
                    <tr>
                        <td>{{ course_user.user_id }}</td>
                        <td>{{ course_user.user.first_name }}</td>
                        <td>{{ course_user.user.email }}</td>
                        <td>{{ course_user.user.is_active }}</td>
                        <td>
                            <form method="post" style="margin:0">
                            {% csrf_token %}
                            <button class="button" type="submit">Remove</button>
                            <input type="hidden" name="remove_user" value="{{ course_user.user_id }}">
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1>Add course user</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form method="post" style="margin:0">
            {% csrf_token %}
            <select name="add_course_user">
                <option>Select user</option>
                {% if available_centre_users %}
                {% for centre_user in available_centre_users %}
                    <option value="{{ centre_user.user_id }}">{{ centre_user.user.get_full_name }}</option>
                {% endfor %}
                {% endif %}
            </select>

            <button class="button" type="submit">Add</button>
            <input type="hidden" name="add_user_to_course" value="{{ 'add_new_course_user' }}">
        </form>
    </div>
</div>
{% endblock %}