{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}

    <div class="container">
        <section>
            <div class="modal-body customer-box row">

                <div class="col-md-6">
                    <!-- Nav tabs -->

                        <h1>Email verification</h1>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            <h2>{{ message }}</h2>
                            <div style="margin-top:50px;margin-bottom:50px">
                                <a href="/login" data-scroll class="btn btn-blue btn-light grd1 effect-1 btn-radius btn-brd">Log in</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}