<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet">
         <!-- Site Metas -->
        <title>{% block title %}PtP Home{% endblock %}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/versions.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">

        <script src="{% static "js/modernizer.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        	{% block head %}{% endblock %}

    </head>

    <body class="host_version">

        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img width="150px" src="{% static "images/logos/yourvote-logo2.png" %}" alt="image"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% if active_tab %}
                                {% if active_tab == "home" %}
                                    <li><a class="active" href="/">Home</a></li>
                                {% else %}
                                    <li><a href="/">Home</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="/">Home</a></li>
                            {% endif %}

                            {% if active_tab %}
                                {% if active_tab == "dashboard" %}
                                    <li><a class="active" href="/members/dashboard">Dashboard</a></li>
                                {% else %}
                                    <li><a href="/members/dashboard">Dashboard</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="/members/dashboard">Dashboard</a></li>
                            {% endif %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                             {% if user.is_authenticated %}
                                <li><a href="/logout/" class="btn btn-radius btn-brd">Logout</a></li>
                            {% else %}
                                <li><a class="btn-light btn-radius btn-brd log" href="/login/"><i class="flaticon-padlock"></i> Customer Login</a></li>
                            {% endif %}
                            {% load auth_extras %}
                            {% if request.user|has_group:"btbadmins" %}
                                <li><a href="/btbadmin" class="btn btn-radius btn-brd">Chief Admin</a></li>
                            {% endif %}
                            {% if request.user|has_group:"domain_admins" %}
                                <li><a href="/domain_admin" class="btn btn-radius btn-brd">Domain Admin</a></li>
                            {% endif %}
                            <li><a href="/members/account/{{ user.id }}/"><img width="30px" src="{% static "images/profile-icon.png" %}"></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

	    {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <img style="width:150px" src="{% static "images/logos/yourvote-logo2.png" %}" alt="">
                            </div>
                            <p>A ten-month programme in partnership with three world class manufacturers; BAE Systems, Siemens and Rolls-Royce, designed to support and invest in the manufacturers of tomorrow.</p>
                            <p>Gain access to the latest techniques, thinking and research to transform your productivity and working practices.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Information Link</h3>
                            </div>
                            <ul class="footer-links">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="/website-terms/">Website Terms</a></li>
                                <li><a href="/cookie-policy/">Cookie Policy</a></li>
                                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Contact Details</h3>
                            </div>

                            <ul class="footer-links">
                                <li><a href="mailto:#">ptp@bethebusiness.com</a></li>
                                <li><a href="#">www.bethebusiness.com</a></li>
                                <li>25-28 Glasshouse Yard, London. </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Social</h3>
                            </div>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> 22.543 Likes</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> 12.860 Followers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018. -- Design By : <a href="www.yugendigital.com">Yugen Digital Limited</a> --</p>
                    </div>


                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->

        <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

        <script src="{% static "js/all.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151823854-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-151823854-1');
        </script>

    </body>
</html>