{% extends "layout.html" %}

{% block content %}
{% load static %}

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img width="150px" src="{% static "images/logos/bethebusiness-logo.png" %}" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Benchmark</a></li>
                        <li><a href="/members/dashboard">Dashboard</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" class="btn btn-radius btn-brd">{{ request.user.first_name }}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="/logout" class="btn btn-radius btn-brd">Logout</a></li>
                        {% else %}
                            <li><a class="btn-light btn-radius btn-brd log" href="/login" data-toggle="modal" data-target="#login"><i class="flaticon-padlock"></i> Customer Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <section>
            <div class="modal-body customer-box row center" style="text-align:center">
                <div class="col-md-6">

                    <h1>Sign Up</h1>

                    <div class="tab-content">
                        <div class="tab-pane active" id="Register">
                            <form  action="/register" autocomplete="on" method="post" class="form-horizontal">

                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" name="firstname" required="required" id="firstname" placeholder="First name" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" name="lastname" required="required" id="lastname" placeholder="Last name" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" name="email" required="required" id="email" placeholder="Email" type="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" name="password1" required="required" id="password1" placeholder="Password" type="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" name="password2" required="required" id="password2" placeholder="Confirm password" type="password">
                                    </div>
                                </div>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                            {% if message.tags == "success" %}
                                                <i class="fa fa-check"></i>
                                                {% elif message.tags == "warning" %}
                                                <i class="fa fa-warning"></i>
                                                {% elif message.tags == "error" %}
                                                <i class="fa fa-times-circle"></i>
                                                {% elif message.tags == "info" %}
                                                <i class="fa fa-info-circle"></i>
                                            {% endif %}
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <p class="signin button">
                                    <input type="submit" value="Sign up"/>
                                </p>

                                <p class="change_link">
                                    Already a member ?
                                    <a href="/login" class="to_register"> Go and log in </a>
                                </p>

                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}