{% extends "ptpadmin/admin-layout.html" %}

{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ course.title}}</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped table-status">
            <form method="post" style="margin:0">
                {% csrf_token %}
                <tbody>

                    <tr>
                        <td>ID</td>
                        <td>{{ course.id }}</td>
                    </tr>
                    <tr>
                        <td>Course title</td>
                        <td><input type="text" style="width:100%" name="centre_name" value="{{ course.title }}"></td>
                    </tr>
                    <tr>
                        <td>Start date</td>
                        <td>{{ course.start_date }}</td>
                    </tr>
                     <tr>
                        <td>Created on</td>
                        <td>{{ course.created_date }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <button class="button" type="submit">Save</button>
                            <input type="hidden" name="update_centre" value="{{ centre.id }}">
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1>Course users</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped table-status">
            <form method="post" style="margin:0">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    {% for course_user in course_users %}
                    <tr>
                        <td>{{ course_user.id }}</td>
                        <td>{{ course_user.user }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
</div>
{% endblock %}